/* login-view.css */

.anchor {
    -fx-background-color: #f0f0f0;
    -fx-padding: 20;
}

.label {
    -fx-text-fill: #333;
}

.label-welcome {
    -fx-font-size: 40px;
    -fx-font-family: "Arial";
    -fx-text-fill: #333;
}

.label-error {
    -fx-text-fill: #eb1e1e;
    -fx-font-size: 18px;
}

.label-error-desc {
    -fx-text-fill: #eb1e1e;
    -fx-font-size: 15px;
}

.label-username, .label-password {
    -fx-font-size: 24px;
    -fx-font-family: "Arial";
    -fx-text-fill: #333;
}

.text-field, .password-field {
    -fx-font-size: 18px;
    -fx-font-family: "Arial";
    -fx-alignment: center;
    -fx-pref-height: 35px;
    -fx-pref-width: 230px;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.button-login {
    -fx-font-size: 16px;
    -fx-pref-height: 35px;
    -fx-pref-width: 230px;
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}

.button-login:hover {
    -fx-background-color: #555;
    -fx-background-image: url("carta.jpg");
}
